{% extends "base.html" %} {% load static %}
{% block title %} 首页 {% endblock title %}
{% block content %}
<div class="container">
  <div id="mycarousel" class="carousel slide" data-ride="carousel">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
      <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mycarousel" data-slide-to="1"></li>
      <li data-target="#mycarousel" data-slide-to="2"></li>
      <style>
      /* Make the image fully responsive */
      .carousel-inner img {
          width: 100%;
          height: 60%;
      }
    </style>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="{% static 'img/1.png' %}">
        <div class="carousel-caption">
          <h3>空想终日惶惶,行动方可无惧</h3>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/2.png' %}">
        <div class="carousel-caption">
          <h3>循序渐进,熟读精思</h3>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/3.png' %}">
        <div class="carousel-caption">
          <h3>活到老,学到老</h3>
          <p></p>
        </div>
      </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mycarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>

{% endblock content %}